<h1>You have already RSVP'ed</h1>
<div>
    <h3>RSVP Code: <span>{{rsvp_code}}</span></h3>
    <form action="" method="post">
        {{#if rsvp_going}}
            <input class="clicked" id="yes" type="button" value="Attending" name="rsvp_going">
            <input type="button" id="no" value="Not Attending" name="rsvp_going">
            <select name="rsvp_num">
                {{!-- todo make the number that shows up first be the number of guests that were prev rsvp'ed for --}}
            {{#for maxRSVP}}
                <option value="{{this}}" name="">{{this}}</option>
            {{/for}}
            </select>

        {{else}}
            <input type="button" id="yes" value="Attending" name="rsvp_going">
            <input class="clicked" id="no" type="button" value="Not Attending" name="rsvp_going">  
            <select name="rsvp_num" disabled aria-disabled="true">
            {{#for maxRSVP}}
                <option value="{{this}}" name="">{{this}}</option>
            {{/for}}
            </select>
        {{/if}}

        <input id="editing-submit" style="display: unset;" type="submit" value="Submit">
    </form>
</div>

<script src="/js/switching.js"></script>